main {
    background-color: var(--fondo-calculadora);
    aspect-ratio: 9/16;
    border-radius: 1rem;
    height: 90%;
    min-height: 600px;
    box-shadow: var(--box-shadow);
    
    gap: 1rem;
    
  }
  

  div.teclado {
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;
  }

  div.display{
    padding: 1rem;
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 1;
    gap: 1rem;
  }

  span {
    text-align: right;
    border: none;
    background-color: var(--fondo-calculadora);
    padding: 0 .5rem;
  }

  
  span.resultado {
    color: var(--secundario);
    font-size: 4rem;
    height: 4rem;
  }
  
  span.display {
    font-size: 5rem;
    height: 5rem;

  }