.switch {
    grid-column: span 4;
    display: flex;
    justify-content: center;
  }
  
  .toggle {
    background-color: var(--terciario);
    width: 4.5rem;
    height: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .slider {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background-color: var(--secundario);
    padding: 0;
    margin: 4px;
    transform: translateX(2.5rem);
    transition: 500ms;
  }
  
  .check-switch:checked + .slider {
    transform: translateX(0);
  }