:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --fondo: #17171C; /*#F1F2F3*/

  --fondo-calculadora: #F1F2F3; /*#17171C*/
  --texto: #000000; /*#FFFFFF*/
  --primario: #4B5EFC; /*#4B5EFC*/
  --secundario: #c8c9cf; /*#4E505F*/
  --terciario: #FFFFFF; /*#2E2F38*/

  --box-shadow: 0 0 50px rgba(0, 0, 0, 0.20);
}

body[data-theme= 'oscuro']{
  --fondo: #F1F2F3;
  --fondo-calculadora: #5a5a5a; 
  --texto: #FFFFFF;
  --primario: #4B5EFC;
  --secundario: #4E505F;
  --terciario: #2E2F38;
}

body[data-theme= 'claro']{
  --fondo: #17171C;
  --fondo-calculadora: #F1F2F3;
  --texto: #000000; 
  --primario: #4B5EFC;
  --secundario: #c8c9cf; 
  --terciario: #FFFFFF;
}
 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
